[Unit]
Description=Autobrightness of display

[Service]
ExecStart=/usr/bin/env ddcutil -d 1 vcpinfo 66
ExecStart=/usr/bin/env ddcutil -d 1 getvcp 66
ExecStart=/usr/bin/env ddcutil -d 1 setvcp 66 02
ExecStart=/usr/bin/env ddcutil -d 1 getvcp 66
Type=oneshot

[Install]
WantedBy=multi-user.target
