{{ $CurrentContainer := where $ "ID" .Docker.CurrentContainerID | first }}

{{ range $container := $ }}
# docker connect '{{ replace ($container.Networks | first).Name "'" "'\"'\"'" -1 }}' '{{ replace $.Docker.CurrentContainerID "'" "'\"'\"'" -1 }}'
# curl --unix-socket /tmp/docker.sock -H "content-type: application/json" -d '{"Container":"{{ replace $CurrentContainer.ID "'" "'\"'\"'" -1 }}"}' http://localhost/networks/'{{ replace ($container.Networks | first).Name "'" "'\"'\"'" -1 }}'/connect

{{ range $container2 := $ }}
{{ if eq $container2.Name "nginx" }}
{{ $TargetContainer := $container2 }}
curl --unix-socket /tmp/docker.sock -H "content-type: application/json" -d '{"Container":"{{ replace $TargetContainer.ID "'" "'\"'\"'" -1 }}"}' http://localhost/networks/'{{ replace ($container.Networks | first).Name "'" "'\"'\"'" -1 }}'/connect
{{ end }}
{{ end }}

{{ range $container2 := $ }}
{{ if eq $container2.Name "nginxproxy_dockergen_1" }}
{{ $TargetContainer := $container2 }}
curl --unix-socket /tmp/docker.sock -H "content-type: application/json" -d '{"Container":"{{ replace $TargetContainer.ID "'" "'\"'\"'" -1 }}"}' http://localhost/networks/'{{ replace ($container.Networks | first).Name "'" "'\"'\"'" -1 }}'/connect
{{ end }}
{{ end }}

{{ end }}
